$color-primary-1: #108FE3FF;
$color-primary-2: #10c3e3;
$color-primary-3: #0c85d2;
$color-primary-4: #108FE3FF;
$color-primary-5: #0c659d;
$color-primary-6: #1373ad;
$color-primary-7: #10cae3;
$color-primary-8: #10abe3;
$color-primary-9: #c3e7ff;
$color-primary-10: #53afd5;

$color-secondary-1: #f1f1f1;
$color-secondary-2: #2f2f2f;
$color-secondary-3: #828282;
$color-secondary-4: #e1e1e1;
$color-secondary-5: #ffffff;
$color-secondary-6: #000000;

$border-radius-1: 10px;
$border-radius-2: 20px;
$border-radius-3: 25px;
$border-radius-4: 30px;
$border-radius-5: 45px;

$text-color-light: #ffffff;
$text-color-dark: #000000;

$p-color-dark: #8a94a6;

$font-family-primary: 'Roboto Mono', monospace;

// Small devices
$screen-xss: 480px;
// Mobile breakpoint
$screen-xs: 576px;
// Tablet breakpoint
$screen-sm: 768px;
// Laptop breakpoint
$screen-md: 1280px;
// Desktop breakpoint
$screen-lg: 2880px;
// Large desktop breakpoint
$screen-xl: 3072px;
